html {
	padding: 10px;
}

body {
  margin-right: 100px;
  margin-left: 100px;
  font-family: Verdana, Geneva, sans-serif;
  color: #253031;
  background-color: #C6E0FF;
  font-size:  17px;
  letter-spacing: -0.4px;
}

  h1 {
  text-align: center;
  font-size: 38px;
  padding: 8px;
  }
  
  .border{  
	border-style: groove;
	border-width:2px;
	border-color: #315659;
	padding: 10px;
	margin: 10px;
}

h2 {
text-align: center; 
  font-size:  25px;
}

footer {
	text-align: center	
}

a:hover {
	color: #BCAB79;
	
}
a:link {
	color: #3292C3;
}	

figure {
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
